.margin-auto {
    margin: auto;
}

.text-align-center {
    text-align: center;
}

.text-white {
    color: white;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-just-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}
